div.button-bar {
    text-align: right;
	input {
		margin-left: 10px;
	}
	input.run-button {
	    width: 100px;
	}
}

table {
    thead {
        tr {
            font-weight: bold;
        }
    }
}

table.data {
    margin: 20px 0 10px 0;
    thead tr td {
        text-align: center;
    }
    thead tr, tbody tr {
        td.col-1 {
            width: 25px;
        }
        td.col-2 {
            width: 150px;
        }
        td.col-3 {
            width: 100px;
        }
        td.col-4 {
            width: 125px;
        }
        td.col-5 {
            width: 225px;
        }
        td.col-6 {
            width: 225px;
        }
    }
}

table.line-items {
    thead tr, tbody tr {
        td.col-1 {
            width: 100px;
        }
        td.col-2 {
            width: 200px;
        }
        td.col-3 {
            width: 75px;
        }
        td.col-4 {
            width: 75px;
        }
        td.col-5 {
            width: 200px;
        }
    }
}
