.layout {
	width:995px;
	margin:0 auto;
}
.main{
	width:950px;
	margin: 0 auto 30px auto;
	background-color: #FfFfFf;
	border-style:solid;
	border-width:1px;
	border-color: #BCBEC0;
}
.nav{
	width:950px;
	height:40px;
	margin: 0 auto 0 auto;
	padding: 10px;
	text-align: right;
}
.content {
	background-color: #FfFfFf;
	padding: 10px;
}
.title {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#414042;
	font-size: 35px;
}
.selection {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#414042;
	font-size: 14px;
}
.formvalues {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#414042;
	font-size: 18px;
}
.comments {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#414042;
	font-size: 14px;
	padding-left: 10px;
}
.toplinks {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	background-color: #E7EAEF;
	border-color: #036;
	border-width: 1px;
	color: #036;
	font-size: 11px;
	cursor: default;
	padding: 2px 6px 3px;
	text-align: center
}
.iterationtitle {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#414042;
	font-size: 28px;
}
ul {
	display: block;
	list-style-type: none;
	margin:0px;
	margin-top:40px;
	margin-right: 0px;
	margin-bottom:0px;
	margin-left: -20px;
}
li {
	list-style-type: none;
	margin-left: -20px;
}
.iterationbox {
	border-style: solid; 
	border-width: 1px 0px 0px;
	border-color: #E9E9E9;
	margin-top: 20px;
	margin-bottom: 40px;          
}
.formtitle {
	height: 30px; 
	width: 600px; 
	font-size:20px; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: lighter;
	color:#000000;
	background-color:#FFFFFF;
}
.formbody {
	height: 400px; 
	width: 600px; 
	font-size:14px; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: lighter;
	color:#000000;
	background-color:#FFFFFF;
}
