.departmenttitle {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#a0a0a0;
	font-size: 30px;
}
.date {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#a0a0a0;
	font-size: 12px;
}
a.procedure {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#3366CC;
	font-size: 14px;
	text-decoration: none;
	padding-left: 5px;
}
a:hover.procedure {
	text-decoration: underline;
}
span.status {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#000000;
	font-size: 14px;
	text-decoration: none;
}
span:hover.status {
	text-decoration: none;
	border-bottom: 1px dashed #3366CC;
}
span.text {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#000000;
	font-size: 14px;
	text-decoration: none;
}
.scheduledates {
	font-size:20px; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: lighter;
	color:#000000;
	background-color:#FFFFFF;
}
.formvalues {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color:#000000;
	font-size: 14px;
}
.formtitle {
	height:30px;
	font-size:20px; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: lighter;
	color:#000000;
}
#panel0 a:hover {
  background: url(accountingroll.jpg) no-repeat;}
#panel0 a {
  background: url(accounting.jpg) no-repeat;}
#panel2b a:hover {
  background: transparent url(test-3.jpg)
  -96px -200px no-repeat;}
#panel3b a:hover {
  background: transparent url(test-3.jpg)
  -172px -200px no-repeat;}
#panel4b a:hover {
  background: transparent url(test-3.jpg)
  -283px -200px no-repeat;}
a.button {
	padding: 6px 10px;
	font: bold 14px Helvetica, Arial, sans-serif;
	line-height: 1;
	color: #444;
	border-style:solid;
	border-width:1px;
	border-color: #ccc;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image:-webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background-color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
a:hover.button {
	border-width:1px;
	border-color: #bbb;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

a.smallbutton {
	padding: 3px 6px;
	font: normal 12px Helvetica, Arial, sans-serif;
	line-height: 1;
	color: #444;
	border-style:solid;
	border-width:1px;
	border-color: #ccc;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image:-webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background-color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
a:hover.smallbutton {
	border-width:1px;
	border-color: #bbb;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}
a.redbutton {
	padding: 3px 6px;
	font: normal 12px Helvetica, Arial, sans-serif;
	line-height: 1;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #ffffff;
	/*	border-style:solid;
	border-width:1px;
	border-color: #ccc;*/
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);*/
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ED1C24), to(#AA1317));
	background: -moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
	background-color: #AA1317;
}
a:hover.redbutton {
	border-width:1px;
	border-color: #bbb;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}
input[type=submit] {
	padding: 3px 6px;
	font: normal 12px Helvetica, Arial, sans-serif;
	line-height: 1;
	color: #444;
	border-style:solid;
	border-width:1px;
	border-color: #ccc;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image:-webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background-color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
input[type=submit]:hover {
	border-width:1px;
	border-color: #bbb;
	color: #444;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

/* blueprint override */
hr.top {background:#ddd;color:#a0a0a0;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
table {border-width: 1px; border-style: solid; border-color: #ccc;}