table {
	margin-left:auto; margin-right:auto;
}
table.SearchBox {
	border-width: 0px;
	background-color: #CCFFCC;
	font-weight: bold;
}
table.Results {
	border-collapse: collapse;
}
td {
	padding: 5px 5px 5px 5px;
}
td.Header {
	background-color: #F0F0F0;
	font-weight: bold;
	text-align: center;
}
td.String {
	text-align: left;
}
td.Number {
	text-align: right;
}
td.Negative {
	color: red;
}
td.NA {
	text-align: right;
}
