
label { margin: 10px; font-weight: bold; }
label input { margin: 10px; }

#download { margin: 10px; font-weight: bold; }

#grid table { border-collapse: collapse; border: 1px solid #000; }
#grid table td, #grid table th { padding: 3px; border: 1px solid #000; }