#ship_items {
	border-collapse: collapse;
	border: solid 1px #000000;
	width: 475px;
}
tr, td {
	border: solid 1px #000000;
	vertical-align: top;
}
td.Header {
	background-color: #F0F0F0;
	font-weight: bold;
	text-align: center;
}
td.col1 {
	width: 25px;
	text-align: center;
}
td.col2 {
	width: 150px;
}
td.col3 {
	width: 200px;
}
td.col4 {
	width: 100px;
	text-align: center;
}
td.String {
	text-align: left;
}
td.Number {
	text-align: right;
}
input.Total {
	width: 50px;
}
#ajaxBusy {
	display: none;
}
