body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
body {
	background-color: #5B6B84;
}
a:link {
	color: #0A4B87;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #0A4B87;
}
a:hover {
	text-decoration: none;
	color: #8BA9C8;
}
a:active {
	text-decoration: underline;
	color: #990000;
}
a.menu:link, a.menu:visited{
color:#999999; text-decoration:none;
}
a.menu:hover{
color:#999999; text-decoration:underline;
}
#submenu a:link, #submenu  a:visited, #submenu a:active { font-weight:bold;font-size:10px;text-decoration: none; color: #FFF; }
.padding{
	padding: 5px;
}
.menu{font-family:Tahoma; font-size:10px;   color:#999999; text-decoration:none;  }
.greybar{
	background-color: #CCCCCC;
	width: 100%;
	font-size:10px;
	color:#666666;
}
.nav{
	background-color: #8BA9C8;
	width: 100%;
	border-bottom: 3px solid #0A4B87;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #FFF;
}
#submenu a:link, #submenu  a:visited, #submenu a:active { font-weight:bold;font-size:10px;text-decoration: none; color: #FFF; }
.padding{
	padding:10px;
}
table.border{ border: 2px solid #0A4B87;}
h1{
	font-size:14px;
	color:#0A4B87;
}
.main{ border:1px solid #ccc; padding:5px; }
input, select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000;
}
textarea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000;
}
#reviews{
background-color:#FFF;
border: 1px solid #8BA9C8;
padding:5px;
}
h1.reviews{
	background-color:#E9E9E9;
	border-bottom: 1px solid #5B6B84;
}
.quote {
	background-color: #FFCC66;
	margin: 3px;
	padding: 3px;
	border: 1px solid #333333;
}
/* Mods */ 
.newsdate{
font-size:10px;
	color:#0A4B87;
}
.newstitle{
	font-family:Tahoma; font-size:10px; color:#999999; text-decoration:none; font-weight:bold;
}
.newsmain{
	font-family:Tahoma; font-size:10px;   color:#999999; text-decoration:none;
	margin-top:0px;
}ol {
	font-size: 10px;
	color: #666666;
}
.topsellers {
	color: #FFFFFF;
	font-weight: bold;
	padding:3px;
}
h1.heading {
	font-size: 14px;
	color: #CCCCCC;
	margin: 0px;
	padding: 0px;
	text-align:center;
}
code {
	/*border: 1px solid #657E9E;*/
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	padding: 5px;
	margin: 5px;
}
th {
	background: #7297BA;
	color: #FFFFFF;
	text-transform: capitalize;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.row1{
	background-color: #E7EAEF; 
}
.row2{
	background-color: #FFF; 
}
.code{
	border: 1px solid #657E9E;
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA;
	padding: 5px;
	margin: 5px;
}
.small{
	font-family:Verdana,Tahoma; font-size:10px;   color:#000; text-decoration:none;
	margin-top:0px;
}