body{margin:0;padding:0;background:#E2E2E2;color:#333333;font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;}body .printbody{background:#FFFFFF;color:#333333;font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;}
#header{margin:0px 0px 0px 0px;height:75px;background-image:url('/lib/images/template/header/gradient.png');}
.nav-submenu{left:5px;width:172px;margin:5px;padding:0px;}
#main{position:absolute;margin:12px 10px 10px 185px;background:#FFFFFF;color:#333333;padding:2px;min-width:800px;}
#mainprint{margin:0px 0px 0px 0px;background:#FFFFFF;padding:2px;}
a.topbar:link{color:#194C7F;text-decoration:none;}
a.topbar:visited{color:#194C7F;text-decoration:none;}
a.topbar:active{color:#194C7F;text-decoration:none;}
a.topbar:hover{color:#CC0000;text-decoration:none;}
a:link{color:#000066;text-decoration:none;}
a:visited{color:#000066;text-decoration:none;}
a:active{color:#000066;text-decoration:none;}
a:hover{color:#CC0000;text-decoration:none;}
td{font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;}
p{font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;}
td.topdark{font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;color:#E7EAEF;background:#030133;}
tr.altdark{font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;color:#000000;background:#EAECEB;}
tr.altlight{font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;color:#000000;background:#FFFFFF;}
input{border-width:1px;border-color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#003366;background-color:#E7EAEF;}
input.file{border-width:1px;border-color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#003366;background-color:#E7EAEF;}
input.noborder{border-width:1px;border-color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#003366;background-color:#FFFFFF;}
input.darkborder{border-width:2px;border-color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;color:#003366;background-color:#E7EAEF;}
textarea{border-width:1px;border-color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#003366;background-color:#E7EAEF;}
select{border-width:1px;border-color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#003366;background-color:#E7EAEF;}
hr{color:#E7EAEF;height:1px;}
