body{scrollbar-3d-light-color:#FFFFFF;scrollbar-arrow-color:#D0DAE3;scrollbar-base-color:#D0DAE3;scrollbar-dark-shadow-color:#D0DAE3;scrollbar-face-color:#000033;scrollbar-highlight-color:#000033;scrollbar-shadow-color:#D0DAE3;}
a:link{color:#CC0000;text-decoration:none;}
a:visited{color:#CC0000;text-decoration:none;}
a:active{color:#CC0000;text-decoration:none;}
a:hover{color:#000066;text-decoration:none;}
a.dark:link{color:#FFFFFF;text-decoration:none;}
a.dark:visited{color:#FFFFFF;text-decoration:none;}
a.dark:active{color:#FFFFFF;text-decoration:none;}
a.dark:hover{color:#00CC00;text-decoration:none;}
td{font-size:11px;font-family:Verdana;}
p{font-size:11px;font-family:Verdana;}
td.dark{font-size:11px;font-family:Verdana;color:#FFFFFF;}
p.dark{font-size:11px;font-family:Verdana;color:#FFFFFF;}
td.smaller{font-size:11px;font-family:Verdana;color:#000000;}
p.smaller{font-size:11px;font-family:Verdana;color:#000000;}
input{border-width:1px;border-color:#003366;font-family:Verdana;font-size:11px;color:#003366;background-color:#E7EAEF;}
input.noborder{border-width:1px;border-color:#003366;font-family:Verdana;font-size:11px;color:#003366;background-color:#FFFFFF;}
input.darkborder{border-width:2px;border-color:#003366;font-family:Verdana;font-size:11px;font-weight:bold;color:#003366;background-color:#E7EAEF;}
textarea{border-width:1px;border-color:#003366;font-family:Verdana;color:#003366;background-color:#E7EAEF;}
select{font-size:11px;border-width:1px;border-color:#003366;font-family:Verdana;color:#003366;background-color:#E7EAEF;}
hr{color:#E7EAEF;height:1px;}
